@model Volkov_HW_ASP_3.Models.Film

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<hr />

<div class="box2">
    <div>
        <div>
            <p>Название: @Html.DisplayFor(model => model.Name)</p>
            <p>Режиссер: @Html.DisplayFor(model => model.Producer.Name)</p>
            <p>Жанр: @Html.DisplayFor(model => model.Genre.Name)</p>
            <p>Год: @Html.DisplayFor(model => model.Year)</p>
            <p>Описани: @Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="images">
            <img src="@Html.DisplayFor(model => model.Poster)" class="image-info" />
        </div>
        <div>
            <a asp-action="Index">Обратно к списку</a>
        </div>
    </div>
</div>