@foreach(var film in ViewBag.Films)
{
	<div class="box">
		<img src="@film.Poster"/>
		<div>
			<p>Название: @film.Name</p>
			<p>Режиссер: @film.Producer.Name</p>
			<p>Жанр: @film.Genre.Name</p>
			<p>Год: @film.Year</p>
			<p>Описание: @film.Description</p>
		</div>
	</div>
}